In [ ]:
#Student Performance Data Analysis

In [1]:
import numpy as np
import pandas as pd

In [2]:
students = [f"Student_{i}" for i in range(1, 101)]  # Student_1 to Student_100

In [3]:
math_scores = np.random.randint(0, 101, 100)     # 100 marks, 100 students
science_scores = np.random.randint(0, 101, 100)
english_scores = np.random.randint(0, 101, 100)

In [4]:
math_scores = np.random.randint(0, 101, 100)     # 100 marks, 100 students
science_scores = np.random.randint(0, 101, 100)
english_scores = np.random.randint(0, 101, 100)

In [5]:
df = pd.DataFrame({
    'Name': students,
    'Math': math_scores,
    'Science': science_scores,
    'English': english_scores
})

In [6]:
df['Average'] = df[['Math', 'Science', 'English']].mean(axis=1)

In [7]:
top_5 = df.nlargest(5, 'Average')
print("ðŸ”¹ Top 5 Performers:\n", top_5[['Name', 'Average']])

ðŸ”¹ Top 5 Performers:
           Name    Average
33  Student_34  83.666667
90  Student_91  81.666667
40  Student_41  79.666667
42  Student_43  79.000000
16  Student_17  76.666667

In [8]:
failed_students = df[(df[['Math', 'Science', 'English']] < 33).any(axis=1)]
print("ðŸ”¹ Students Who Failed in At Least One Subject:\n", failed_students[['Name', 'Math', 'Science', 'English']])

ðŸ”¹ Students Who Failed in At Least One Subject:
            Name  Math  Science  English
2     Student_3    92       95        7
3     Student_4    15       20       95
4     Student_5    18       58       77
6     Student_7    73       20       78
7     Student_8    17       99       12
..          ...   ...      ...      ...
94   Student_95    10       85       57
95   Student_96    83       27       55
96   Student_97    84       27       31
97   Student_98    76        2       10
99  Student_100    17       13        6

[74 rows x 4 columns]

In [10]:
subject_avg = df[['Math', 'Science', 'English']].mean()
print("ðŸ”¹ Subject-wise Average Score:\n", subject_avg)
top_math = df.loc[df['Math'].idxmax()]
top_science = df.loc[df['Science'].idxmax()]
top_english = df.loc[df['English'].idxmax()]

print("Top Math Scorer:", top_math['Name'], "-", top_math['Math'])
print("Top Science Scorer:", top_science['Name'], "-", top_science['Science'])
print("Top English Scorer:", top_english['Name'], "-", top_english['English'])

ðŸ”¹ Subject-wise Average Score:
 Math       52.81
Science    48.94
English    47.08
dtype: float64
Top Math Scorer: Student_25 - 99
Top Science Scorer: Student_8 - 99
Top English Scorer: Student_38 - 99

In [11]:
def get_grade(avg):
    if avg >= 90:
        return 'A+'
    elif avg >= 75:
        return 'A'
    elif avg >= 60:
        return 'B'
    elif avg >= 50:
        return 'C'
    elif avg >= 33:
        return 'D'
    else:
        return 'F'

df['Grade'] = df['Average'].apply(get_grade)
print(df[['Name', 'Average', 'Grade']])

           Name    Average Grade
0     Student_1  61.000000     B
1     Student_2  63.333333     B
2     Student_3  64.666667     B
3     Student_4  43.333333     D
4     Student_5  51.000000     C
..          ...        ...   ...
95   Student_96  55.000000     C
96   Student_97  47.333333     D
97   Student_98  29.333333     F
98   Student_99  54.333333     C
99  Student_100  12.000000     F

[100 rows x 3 columns]